<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oto.edyd">

    <!-- 支持多屏 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <!-- 系统权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 短信服务 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 高德地图 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 屏幕常亮 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 社交分享 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 友盟 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--【必选】用以设置前台是否显示通知-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <!-- 聚合官网 -->
    <application
        android:name=".EdydApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
>
        <!-- 高德地图 -->
         <!--<meta-data
         android:name="com.amap.api.v2.apikey"
         android:value="391bb51068ef790c94b3f93fe9852186" />-->

        <!--<meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b0da2264df3bf64e1b5b9143dff0b427" />-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="db59c0eec8694ae5bce3c2d3f07ff6d5" />

        <!--<meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b751da55d5392f83be3e89d0924c587d" />
             android:name="com.amap.api.v2.apikey"
             android:value="db59c0eec8694ae5bce3c2d3f07ff6d5" />-->
        <!-- 聚合数据 -->
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JH5ba55e75578ecf0b44c6d8a4de432b52" />

        <!-- 友盟AppKey， 需要替换成你自己的 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561deb56e0f55aa2430029a0" />

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="917244bd3186a7a7578cbff3fa87b4c1" >
        </meta-data>

        <!-- 监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <!-- 监听注册的广播 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.oto.edyd.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- 可以根据需要自行设置 android:label 中的服务名 ： -->
        <!-- Umeng的长连服务，用来建立推送的长连接的 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <service
            android:name="com.umeng.message.UmengService"
            android:label="PushService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.oto.edyd.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.oto.edyd.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </service>
        <!-- Umeng的消息接收服务 -->
        <service android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <!-- Umeng的消息路由服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:process=":push"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
        <service android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action"/>
            </intent-filter>
        </service>
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        <!-- V2.5.0添加的Service，用于本地通知 -->
        <!-- 如果不使用本地通知，可以注释掉本地通知服务的配置 -->
        <service android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usercenter.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultyLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CurrentWeatherReportActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MarkerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeatherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyWayBillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExecutingOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransportServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderOperateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryTransportOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetailHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinancialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WaitBuild"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilCardApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilCardAmountDistributeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddOilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilDistributeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilTransactionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilCardChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilCardAddDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AverageDistributeAmountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectDepartmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RoleTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DistributionDetailedSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViolateCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViolateAddCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VioDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViolateNumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectTransportRole"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransportOrderDispatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransportOrderDispatchDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectDriverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyDriverPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FastDistributeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReceiveOrderActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".TrackListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowTrackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShipperOrderOperateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ShipperOrderOperateItemDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".pay.activity.OilCardPayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".pay.activity.ChinaMerchantsBankWebPayActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ShipperHistoryOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShipperHisOrderDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 社交分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".SocialSharedActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        android:process=":DownloadingService"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        android:screenOrientation="portrait"/>
        <receiver android:name=".components.SmsReceiver">
            <intent-filter android:priority="800">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.WeatherService" />
        <service android:name=".service.TimerService" />

        <activity
            android:name=".Chooseprovince"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChooseCity"
            android:screenOrientation="portrait"></activity>

        <service android:name=".service.WeatherService" />
        <service android:name=".service.TimerService" />

        <activity
            android:name=".PanoramaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReceivingOrderOperate"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReceivingOrderDetail"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ReceiveTransitOrderActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
