<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oto.edyd" >

    <!-- 支持多屏 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <!-- 系统权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 短信服务 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 高德地图 -->
    <!--拨打电话的权限-->
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <!-- 高德地图-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 屏幕常亮 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 社交分享 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- 聚合官网 -->
    <application
        android:name=".EdydApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >>
        <!-- 高德地图 -->
        <!--<meta-data-->
            <!--android:name="com.amap.api.v2.apikey"-->
            <!--android:value="391bb51068ef790c94b3f93fe9852186" />-->
        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b751da55d5392f83be3e89d0924c587d" />
        <!-- 聚合数据 -->
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JH5ba55e75578ecf0b44c6d8a4de432b52" />

        <!-- 友盟AppKey， 需要替换成你自己的 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561deb56e0f55aa2430029a0" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultyLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CurrentWeatherReportActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MarkerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeatherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyWayBillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExecutingOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransportServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderOperateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryTransportOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetailHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinancialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WaitBuild"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilCardApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilCardAmountDistributeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddOilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilDistributeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilTransactionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilCardChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OilCardAddDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AverageDistributeAmountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectDepartmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RoleTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DistributionDetailedSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViolateCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViolateAddCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VioDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViolateNumActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SelectTransportRole"
            android:screenOrientation="portrait"/>
        <activity android:name=".TransportOrderDispatchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TransportOrderDispatchDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SelectDriverActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ModifyDriverPhoneNumberActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FastDistributeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SelectCarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReceiveOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TrackListActivity"
            android:screenOrientation="portrait"/>

        <!-- 社交分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".SocialSharedActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
            android:process=":DownloadingService"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:screenOrientation="portrait" />
            android:screenOrientation="portrait"/>
        <receiver android:name=".components.SmsReceiver" >
            <intent-filter android:priority="800" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.WeatherService" />
        <service android:name=".service.TimerService" />

        <activity
            android:name=".Chooseprovince"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChooseCity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".service.WeatherService" />
        <service android:name=".service.TimerService" />

        <activity android:name=".PanoramaActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
